@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

/* styles.css */
.responsive-thumbnail {
  width: 200px;
  height: 150px;
  background-color: lightblue;
}

/* Media query for screens larger than 768px (desktop) */
@media (min-width: 450px) {
  .responsive-thumbnail {
    width: 300px;
    height: 180px;
  }
}

/* Media query for screens larger than 768px (desktop) */
@media (min-width: 768px) {
  .responsive-thumbnail {
    width: 400px;
    height: 200px;
  }
}

.thumbnail {
  cursor: pointer;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-container {
  position: relative;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}
