@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  background: #131318;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

/* styles.css */
.responsive-thumbnail {
  width: 200px;
  height: 150px;
  background-color: lightblue;
}

/* Media query for screens larger than 768px (desktop) */
@media (min-width: 450px) {
  .responsive-thumbnail {
    width: 300px;
    height: 180px;
  }
}

/* Media query for screens larger than 768px (desktop) */
@media (min-width: 768px) {
  .responsive-thumbnail {
    width: 400px;
    height: 200px;
  }
}
